@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* dark mode looking scrollbar */

::-webkit-scrollbar{
    width : 8px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background:transparent;
    border-radius: 5px;
}

::-webkit-sscrollbar-thumb:hover{
    background: transparent;
}